{
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-env", { "targets": { "node": "current" } }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".json"
        ],
        "alias": {
          "@root/*": "src",
          "@config/*": "src/config",
          "@api/*": "src/api",
          "@middlewares/*": "src/middlewares",
          "@utils/*": "src/utils/",
          "@interfaces/*": "src/interfaces"
        }
      }
    ]
  ]
}
